{% extends 'base.html' %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="speakers content row padding-bottom-3 desktop-8 container">
        <h2>
            <a href="http://hbn.link/hopper-site">Grace Hopper</a>
        </h2>
        <img class="photo" src="http://hbn.link/hopper-pic">
        <p>
            Programadora e almirante.<br/>
            Inventora do compilador, criadora da linguagem
            de programação Flow-Matic serviu de base para a linguagem
            COBOL permitindo a popularização das aplicações comerciais.
        </p>
    </div>
</section>
{% endblock content %}
