{% extends 'base.html' %}

{% block content %}
<section>
    <div class="talks content row padding-bottom-3 desktop-12 container">
        <h2>Manhã</h2>
        <h3>10:00 - Título da Palestra</h3>
        <h4>Por <a href="/palestrantes/henrique-bastos/">Henrique Bastos</a></h4>
        <p>Descrição da palestra</p>

        <h2>Tarde</h2>
        <h3>13:00 - Título da Palestra</h3>
        <h4>Por <a href="/palestrantes/henrique-bastos/">Henrique Bastos</a></h4>
        <p>Descrição da palestra</p>
    </div>
</section>
{% endblock content %}
