<h1>Formulário de Inscrição</h1>
<form action="." novalidade method="post">
	{% csrf_token %}
	<p>
		<label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
		{{ form.name.erros }}
		{{ form.name }}
	</p>
	<p>
		<label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
		{{ form.cpf.erros }}
		{{ form.cpf }}
	</p>
	<p>
		<label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
		{{ form.email.erros }}
		{{ form.email }}
	</p>
	<p>
		<label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
		{{ form.phone.erros }}
		{{ form.phone }}
	</p>
	<input type="submit" value="Enviar!"/>
</form>
